NODE_ENV=development
PORT=5000

MONGO_URI=mongodb://127.0.0.1:27017/prospectminer
REDIS_URL=redis://127.0.0.1:6379

GEMINI_API_KEY=AIzaSyBeYvcUwIZn4ppXX15-YdN3HmX8_whiCIU
GEMINI_MODEL=gemini-2.0-flash

SERPER_API_KEY=9d180982928c749771d44757aefe2f41c1c70ad0

PUPPETEER_HEADLESS=true
MAX_SCRAPE_RESULTS=10
CRAWL_CONCURRENCY=4
